ul {
  width: 400px;
  margin: 0 auto;
  list-style: armenian;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  li {
    font-size: 15px;
    text-align: left;
    flex: 100%;
    background-color: rgba(128, 128, 128, 0.233);
    padding-left: 5px;
    border-radius: 5px;
    transition: 300ms ease-out;

    &:hover {
      transform: scale(1.02);
      background-color: rgba(128, 128, 128, 0.596);
    }
  }
}
